.form-group{
	max-width: 430px;
	width: 100%;
	margin: 10px auto;
}
.form-group input {
	max-width: 430px;
	width: 100%;
	line-height: 1;
	vertical-align: middle;
	padding: 10px 5px;
	margin: 10px 0;
}
.b-info__form{
	text-align: center;
	max-width: 450px;
	width: 100%;
	margin: 20px auto;
	border: 2px solid #000;
	padding: 10px 0;	
}
.b-info_bottom-button{
	margin-top: 30px;
	padding: 10px;
}
.paragraf-top{
	margin-top: 15px;
}
.form-inline{
	text-align: center;
}
.group-form_i {
	display: inline-block;
	margin: 10px;
}

.sec1, .sec4{
	background-image: url(../image/death.jpg);
	background-repeat: no-repeat;
	width: 100%;
	background-position: 0 0;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
}
.sec2, .sec5 {
	background-image: url(../image/3-2.jpg);
	background-repeat: no-repeat;
	width: 100%;
	background-position: 0 0;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
}
.sec3, .sec6{
	background-image: url(../image/tppe.jpg);
	background-repeat: no-repeat;
	width: 100%;
	background-position: 0 0;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
}